<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @producto.name %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @producto.precio %>
</p>

<p>
  <strong>tipo de producto:</strong>
  <%= @producto.tipo %>
</p>

<%= link_to 'Editar', edit_producto_path(@producto) %> |
<%= link_to 'Atras', productos_path %>
